html, body {
	background: #ddd;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	overflow-x:hidden;
}

strong {
	font-weight: bold;
}

#main.wall ul {
	margin: 40px auto;
	padding: 0 0 80px;
	overflow: visible !important;
}

#main.wall ul li {
	margin: 5px;
	-webkit-transition: all 0.1s linear;
	-khtml-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	z-index: 1;
}

#main.wall ul li.media.image:hover {
	-webkit-transform: scale(1.2);
	-khtml-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	box-shadow: 0 0 50px #000;
	-webkit-box-shadow: 0 0 50px #000;
	-khtml-box-shadow: 0 0 50px #000;
	-o-box-shadow: 0 0 50px #000;
	-moz-box-shadow: 0 0 50px #000;
	z-index: 2;
}

#main.wall ul li.video {
	width: 490px !important;
}

#main.wall ul li.video object,
#main.wall ul li.video object embed {
	display: block;
	width: 490px;
	height: 275px;
}

#main.wall ul li.video .meta {
	width: 470px;
}

#main.wall ul li.item.info,
#main.wall ul li.item.head {
	z-index: 2;
}

#main.wall ul li img {
	display: block;
}

#main.wall ul li.text {
	width: 220px !important;
	background-color:#fff;
}

#main.wall ul li p {
	display:block;
	width: 200px !important;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	font-size:0.8em;
	word-wrap:break-word;
}

#main.wall ul li.text .meta {
	width: 200px;
}

#main.wall ul li .meta {
	width: 220px;
	overflow: hidden;
	padding: 10px;
	color: #999;
	font-size: .8em;
	background-color: #fff;
	border-top: 1px solid #fff;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #e7b900;
}

header h1, header h2 {
	display: none;
}

header {
	width: 240px;
	height: 294px;
	background: url(../img/header.png) top left no-repeat;
	margin: -20px 0 0 0;
}

a.reload {
	width: 220px;
	margin: 260px 0 0 0;
	display: block;
	font-size: .8em;
	float: left;
	background-color: #fff;
	padding: 10px;
	text-align: center;
}

.item.info {
	width: 720px;
	background-color: #000;
	padding: 10px;
	float: left;
}

nav {
	width: 50%;
	float: left;
}

nav a {
	margin: 0 10px 0 0;
	background: #fff;
	text-transform: lowercase;
	padding: 2px 0;
	margin: 1px 0;
	display: block;
	float: left;
	clear: both;
}

.loading {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 50px 0;
}

aside#info h3 {
	width: 50%;
	height: 64px;
	float: right;
	background: url(../img/info.png) top right no-repeat;
	display: block;
	text-indent: -9999px;
}

a.more {
	font-size: 2em;
	padding: 50px 0;
	background: #000;
	color: #fff;
	text-transform: lowercase;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

a.more:hover {
	background-color: #333;
}
